<section class="left-f">
    <div class="left-tit">
        <h2>留言询价</h2>
    </div>
    <img src="images/shifu.jpg">
    <form action="#(CPATH)/contact/post" id="jpress-contact-form" method="post" autocomplete="off" class="left-aform">
        <input type="hidden" name="action" value="post">
        <input type="hidden" name="pid" id="contact-pid">

        <label><span>您的称呼：</span><input type="text" name="name" id="name" placeholder="请输入您的称呼"></label>
        <label><span>您的手机：</span><input type="text" name="phone" id="phone" placeholder="请输入手机号码(必填)"></label>
        <label class="lab-place"><span>所在城市：</span><input type="text" name="city" id="city" placeholder="市"><input type="text" name="area" id="area" placeholder="区"></label>
        <label>
            <span>所需服务：</span>
            <select type="select" name="service" id="service" style="border: none;">
                <option value="中央空调维修" selected="selected">中央空调维修</option>
                <option value="中央空调清洗">中央空调清洗</option>
                <option value="中央空调改造">中央空调改造</option>
                <option value="中央空调维保">中央空调维保</option>
                <option value="中央空调安装">中央空调安装</option>
                <option value="中央空调漏水">中央空调漏水</option>
                <option value="其他问题">其他问题</option>
            </select>请选择
        </label>
        <div class="contact-vcode">
            <input placeholder="请输入验证码" name="captcha" id="contact-captcha">
            <img class="vcode-img" src="#(CPATH)/commons/captcha"
                 onclick="this.src='#(CPATH)/commons/captcha?d='+Math.random();" cdn-exclude id="contact-vcode">
        </div>
        <input type="submit" name="submit" id="indfbtn" class="submbtn" value="提交询价">
    </form>
    <script type="text/javascript" src="page_files/serform.js"></script>

</section>





<section class="left-hot">
    <div class="left-tit">
        <h2>资讯推荐</h2>
    </div>
    <ul>
        #articles(orderBy="view_count",count=6)
        #for(article : articles)
        <li><a href="#(article.url)"><span>[#date(article.created ??,'yyyy-MM-dd')]</span>#(article.title)</a></li>
        #end
        #end
    </ul>
</section>
<section class="left-year">
    <img src="images/left18.jpg" alt="京乐企服19年">
</section>
<!-- tag -->
<section class="left-hot1">
    <div class="left-tit">
        <h2>相关推荐</h2>
    </div>
    <ul class="all">

        #tags()
            #for(tag : tags)
            <li><a href="#(tag.url)">#(tag.title)</a></li>
            #end
        #end

    </ul>
</section>
<section class="left-contact">
    <div class="left-tit">
        <h2>欢迎咨询</h2>
    </div>
    <h4 class="tel">400-898-1819</h4>
    <p>深圳华诺科技电子制冷技术有限公司</p>
    <p>传真：+010-59797778</p>
    <p>邮箱：YACS@JLJGDJ.COM</p>
</section>
<section class="left-service">
    <img src="#option('calmlog_qrcode','img/code.jpg')" class="img-fluid" alt="">
    <p>#option('calmlog_qrcode_text')</p>
</section>