#include("./layout.html")
#@layout()

#define content()

      <!-- banner -->
      <div class="inner-ban">
        <!--<div style="background-image: url(/templets/default/images/inban_news.jpg);"></div>-->
        <div></div>
      </div>

      <!-- 搜索 -->
            <div class="index-search">
        <div class="container">
          <div class="sear-key">热门服务：
              #articleCategories(article.id,"tag")
                  #for(category : categories)
                  <a href="#(category.url ??)">#(category.title ??)</a>
                  #end
              #end
          </div>
          <div class="sear-form">
            <form class="searchform" name="formsearch" action="/plus/search.php" method="post">
              <!-- <input type="text" name="q" value="0">-->
                <input type="text" name="q" placeholder="请输入搜索内容" class="serinp">
                <ul class="se-keys se-ul">
                  <li><b>热门服务：</b></li>
                    #articleCategories(article.id,"tag")
                        #for(category : categories)
                        <li> <a href="#(category.url ??)">#(category.title ??)</a></li>
                        #end
                    #end
                </ul>
                <input type="submit" name="submit" value="搜索" class="searbtn">
            </form>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="images/searchdown.js"></script>
      
      <!-- inner -->
      <div class="container in-article">
        <div class="row">
          <aside class="col-md-3 col-sm-12 side-left">
              #include("article_leftbar.html")
          </aside>
          <!-- right -->
          <div class="col-md-9 col-sm-12 col-xs-12 side-right" role="main">
              <section class="in-news-tit">
                <h1>#(article.title)</h1>
                <div class="clearfix">
                      <ul class="icon_art">
                        <li class="time" title="发布时间">#(article.created)</li><li class="edi" title="发布者">#(article.user.nickname ??)</li>
                          <li class="keys" title="关键字">
                              #articleCategories(article.id,"category")
                              #for(category : categories)
                              <a href="#(category.url ??)" class="tagc1" target="_blank">#(category.title ??)</a>
                              #if(!for.last) , #end
                              #end
                              #end
                          </li>
                      </ul>
                      <div class="art-share">
                          <div class="bshare-custom icon-medium"><div class="bsPromo bsPromo2"></div><a title="分享到QQ空间" class="bshare-qzone" rel="nofollow"></a><a title="分享到新浪微博" class="bshare-sinaminiblog" rel="nofollow"></a><a title="分享到人人网" class="bshare-renren" rel="nofollow"></a><a title="分享到腾讯微博" class="bshare-qqmb" rel="nofollow"></a><a title="分享到网易微博" class="bshare-neteasemb" rel="nofollow"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis" rel="nofollow"></a><span class="BSHARE_COUNT bshare-share-count" style="float: none;">0</span></div><script src="article_files/buttonLite.js" type="text/javascript" charset="utf-8"></script><script src="article_files/bshareC0.js" type="text/javascript" charset="utf-8"></script>
                      </div>   
                  </div>
              </section>

              <section class="right-hots" style="margin-bottom:35px;background-color: #f6f6f6;background-image: url(/templets/default/images/tiaowen.png);border-radius: 8px;"> 
                <div class="right-tit clearfix">
                  <h3 style="color:#ffa500;">4月份热门案例推荐</h3><a href="http://www.zyktservice.com/gongcheng/"></a>
                </div>
                <ul class="clearfix">

                  <!--3个案例专题-->
                    #products(hasThumbnail=true,count=3,orderBy="view_count")
                        #for(product : products)
                        <li style="width: 26%;margin-right: 3%;margin-left: 4%;"><a href="#(product.url)" class="img"><img src="#(product.showImage)"></a>
                            <a href="#(product.url)" class="tit">#(product.title ??)</a>
                        </li>
                        #end
                    #end



                  
                </ul>
              </section>

              <section class="article-text">
                  #(article.content)
              </section>

              <section class="article-turn">
                <p style="text-align:right;font-size: 2px;" rel="nofollow">本站内文章部分来自于用户投稿或者编辑整理，文章其版权均归原作者及其网站所有。</p>

            <div style="background: #f5f5f5;height: 102px;">
            
                <div class="left" style="float: left;height: 102px;width: 15%;background: #f89600;text-align: center;color: #fff;margin-right: 3%;">
	           <span style="font-size: 28px;display: block;padding-top: 15px;">1196</span>
	          	<p style="font-size: 12px;">帮助过的人数</p>
	           </div>
	           
	          <div style="cbackground-color: #f5f5f5;">
                  <p style="padding-top: 18px;">上一篇：
                      #previousArticle()
                      <a href="#(previous.url)">#(previous.title ??)</a>
                      #end
                  </p>
                <p style="padding-top: 0px;">下一篇：
                    #nextArticle()
                    <a href="#(next.url)">标题是：#(next.title ??)</a>
                    #end
                </p>
               </div>
               
            </div>
              </section>

              <section class="right-hots">
                <div class="right-tit clearfix">
                  <h3>热门服务</h3><a href="http://www.zyktservice.com/yewu/"></a>
                </div>
                <ul class="clearfix">

                  <!--3个服务专题-->
                    #products(hasThumbnail=true,count=3,orderBy="modified")
                        #for(product : products)
                        <li style="width: 28%;margin-right: 15px;"><a href="#(product.url)" class="img"><img alt="" src="#(product.showImage)" style="width: 250px; height: 200px;"></a>
                            <a href="#(product.url)" class="tit">#(product.title ??)</a>
                        </li>
                        #end
                    #end
                  
                </ul>
              </section>

          </div>
          <!-- right end -->
        </div>
      </div>

      <!-- footer -->

#end