#include("./layout.html")
#@layout()

#define script()
<script src="/static/components/jquery/jquery.form.min.js"></script>
<script src="/static/commons/article.js"></script>
#end

#define content()
 

      <!-- banner -->
      <div class="inner-ban">
        <!--<div style="background-image: url(/templets/default/images/inban_news.jpg);"></div>-->
        <div></div>
      </div>

      <!-- 搜索 -->
            <div class="index-search">
        <div class="container">
          <div class="sear-key">热门服务：
              #tags()
              #for(tag : tags)
              <a href="#(tag.url)">#(tag.title)</a>
              #end
              #end
          </div>
            <div class="sear-tel">
                <p>
                    服务热线：
                    <b>400-898-1819</b>
                </p>

            </div>
        </div>
      </div>


    

      <!-- inner -->
      <div class="container in-article">
        <div class="row">
          <aside class="col-md-3 col-sm-12 side-left">
              #include("article_leftbar.html")
          </aside>

          <!-- right -->
          <div class="col-md-9 col-sm-12 col-xs-12 side-right right-news" role="main">

          <!-- 案例3个 -->
		     <section class="right-hots" style="margin-top: -30px;">
                <div class="right-tit clearfix">
                  <h3>热门案例</h3><a href="#"></a>
                </div>
                <ul class="clearfix">

                #products(hasThumbnail=true,count=3,orderBy="view_count")
                    #for(product : products)
                  <li style="width: 28%;margin-right: 15px;"><a href="#(product.url)" class="img"><img alt="#(product.title ??)" src="#(product.showImage)" style="width: 290px; height: 100%;"></a>
                      <a href="#(product.url)" class="tit">#(product.title ??)</a>
                  </li>
                    #end
                #end
                </ul>
              </section>
          <!-- 面包 -->
          <p style="margin-top: 30px;font-size: 16px;">当前位置：
              <a href="#(WEB_DOMAIN ??)">主页</a> &gt;
              <a href="#(category.url ??)">#(category.title ??)</a>
          </p>
          #articlePage()
              <div class="newslists">
              #for(article : articlePage.list)
                <dl class="in-news">
                  <dd>
                  <a href="#(article.url)"><img src="#(article.showImage ? article.showImage  : 'img/default-img.png')" alt="#(article.title)" /></a>
                  </dd>
                  <dt>
                    <a href="#(article.url)" title="#(article.title)" class="title">#(article.title)</a>
                    <p>#maxLength(article.text,100)</p>
                    <ul class="icon_art">
                        <li class="time" title="发布时间">#(article.modified)</li>
                        <li class="view" title="点击量">#(article.view_count)</li>
                        <li class="edi" title="发布者">#(article.user.nickname ??)</li>
                        <li class="keys" title="分类">
                            #articleCategories(article.id,"category")
                                #for(category : categories)
                                <a href="#(category.url ??)" target="_blank">#(category.title ??)</a>&nbsp;
                                #if(!for.last) , #end
                                #end
                            #end
                        </li>
                    </ul>
                  </dt>
                </dl>
              #end
              </div>
          #end
              <!-- pages -->

              #articlePaginate(firstGotoIndex=true)
              <nav aria-label="">
                  <ul class="pagination justify-content-center">
                      #for(page : pages)
                      <li class="page-item #(page.style)"><a class="page-link" href="#(page.url ??)">#(page.text)</a></li>
                      #end
                  </ul>
              </nav>
              #end

          </div>
          <!-- right end -->
        </div>
      </div>

#end