#include("./layout.html")
#@layout()

#define content()

    <!-- 轮播图片 begin-->
    <div class="home-slider clearfix" id="index-slider">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          #for(slide : linesOption('calmlog_slides'))
          <li data-target="#carouselExampleCaptions" data-slide-to="#(for.index?? '0')" class="#(for.index == 0 ? 'active' : '')"></li>
          #end
        </ol>
        <div class="carousel-inner">
          #for(slide : linesOption('calmlog_slides','\|'))
          <div class="carousel-item #(for.index == 0 ? 'active' : '')">
            <a href="#(slide[1])"> <img src="#(slide[0])" class="d-block w-100" alt="..."></a>
            <div class="carousel-caption d-none d-md-block">
              <h5>#(slide[2])</h5>
              <!--<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
            </div>
          </div>
          #end
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <!-- 轮播图片 end-->

    <div class="container index-us">
      <div class="index-title title1">
        <h2><span>中央空调维修清洗</span><b>一站式服务商</b></h2>
        <p>品质保证，诚信服务</p>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-5 col-xs-12 index-us-pic">
          <img src="images/aboutus.jpg" alt="关于#(WEB_NAME ??)">
        </div>
        <div class="col-md-6 col-sm-7 col-xs-12 index-us-r">
          <h2>关于我们<em></em></h2>
          <div class="us-text">
            #(WEB_NAME ??)中央空调维修网隶属于深圳华诺电子制冷技术有限公司创立于2001年，行业内屈指可数的专业化中央空调一站式服务商，业务覆盖全国省会级城市，专注从事中央空调维修保养、运行托管、压缩机维修、技术咨询、设计安装、节能改造、机房自控等一站式服务。<a
              href="/about" title="关于我们" rel="nofollow">[查看更多]</a></div>
          <ul class="clearfix">
            <li><b>30<em>+</em></b>
              <p>32项荣誉证书</p><span></span>
            </li>
            <li><b>18<em>+</em></b>
              <p>18年行业沉淀</p><span></span>
            </li>
            <li><b>10000<em>+</em></b>
              <p>过万行业案例</p><span></span>
            </li>
            <li><b>365</b>
              <p>365天无忧售后</p><span></span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="home-doctors doctors-var-two clearfix" id="index-portfolio">
      <div class="container">
        <div class="slogan-section animated-x fadeInUp-x clearfix">
          <h2>
            <a href="/pagelist/yewu">服务项目</a>
          </h2>
          <p class="desc">品质保证，诚信服务，#(WEB_NAME ??)为您提供全国范围内中央空调一站式解决方案</p>
        </div>
        <div class="row">
          #examples(hasThumbnail=true,count=8)
            #for(product : examples)
            <div class="col-md-3 col-sm-6 col-xs-6 text-center iport-item ">
              <div class="common-doctor animated fadeInUp clearfix text-hover ae-animation-fadeInUp">
                <figure style="border-radius: 10px">
                  <a href="#(product.url)" title="#(product.title ??)">
                    <img src="#(product.showImage)" alt="#(product.title ??)"></a>
                </figure>
                <div class="text-content">
                  <h5 class="iport-title" title="#(product.title ??)">
                    <a href="#(product.url)/">#(product.title ??)</a>
                  </h5>
                  <span class="index_pro_desc" style="display: none;">
                    <a
                      href="#(product.url)">#maxLength(product.text,100)...</a></span>
                  <div class="for-border"></div>
                </div>
              </div>
            </div>
            #end
          #end
        </div>
      </div>
      <div class="container">
        <ul class="service-note clearfix">
          <li>18年老品牌 企业实力强 售后无忧</li>
          <li>各项费用明确标注 服务期间杜绝乱收费</li>
          <li>每单配件确保原装正品 假一赔三</li>
        </ul>
      </div>
    </div>
    <div class="container index-adv">
      <ul>
        <li class="adv-box clearfix">
          <div class="adv-pic fr">
            <img src="images/adv1.jpg" alt="自营团队 经验雄厚">
          </div>
          <dl class="adv-text fl">
            <dt><span>01</span>
              <h3>自营团队 经验雄厚</h3>
              <p>Strong experience in self support team</p>
            </dt>
            <dd>
              <p>1、技师持证上岗，维修技术精湛<br>2、精密化仪器，排除隐患降低维修成本<br>3、明细化服务环节，快速解决问题</p>
            </dd>
          </dl>
        </li>
        <li class="adv-box clearfix">
          <div class="adv-pic fr">
            <img src="images/adv2.jpg" alt="中央空调清洗品质保证 资质齐全">
          </div>
          <dl class="adv-text fl">
            <dt><span>02</span>
              <h3>品质保证 资质齐全</h3>
              <p>Complete quality assurance qualification</p>
            </dt>
            <dd>
              <p>1、中央空调安装维护清洗一级资质<br>2、建筑机电安装三级资质<br>3、ISO90001国际环境管理，质量管理，职业健康安全认证体系证书</p>
            </dd>
          </dl>
        </li>
        <li class="adv-box clearfix">
          <div class="adv-pic fr">
            <img src="images/adv3.jpg" alt="诚信服务 售后无忧">
          </div>
          <dl class="adv-text fl">
            <dt><span>03</span>
              <h3>诚信服务 售后无忧</h3>
              <p>Honest service, no worries after sales</p>
            </dt>
            <dd>
              <p>1、各项费用明码标价<br>2、每单配件确保原装正品<br>3、验收结果评估以效果说话</p>
            </dd>
          </dl>
        </li>
        <li class="adv-box clearfix">
          <div class="adv-pic fr">
            <img src="images/adv4.jpg" alt="电视台报道 品牌有实力，服务有保障">
          </div>
          <dl class="adv-text fl">
            <dt><span>04</span>
              <h3>电视台报道 品牌有实力</h3>
              <p>reported by the TV station because of strength</p>
            </dt>
            <dd>
              <p>1、北京电视台嘉奖采访企业<br>2、90+全国服务网点<br>3、18年老品牌，企业实力强</p>
            </dd>
          </dl>
        </li>
      </ul>

    </div>
    <div class="index-step">
      <div class="index-title title1">
        <h2><span>标准化</span><b>服务流程</b></h2>
        <p>专注企业服务 放心做选择</p>
      </div>
      <ul class="container clearfix">
        <li><img src="images/step1.png" alt="在线预约"><b>01</b>
          <p>在线预约</p>
        </li>
        <li><img src="images/step2.png" alt="上门勘测"><b>02</b>
          <p>上门勘测</p>
        </li>
        <li><img src="images/step3.png" alt="方案设计"><b>03</b>
          <p>方案设计</p>
        </li>
        <li><img src="images/step4.png" alt="合同签订"><b>04</b>
          <p>合同签订</p>
        </li>
        <li><img src="images/step5.png" alt="监工"><b>05</b>
          <p>监工</p>
        </li>
        <li><img src="images/step6.png" alt="监测"><b>06</b>
          <p>监测</p>
        </li>
        <li><img src="images/step7.png" alt="工程验收"><b>07</b>
          <p>工程验收</p>
        </li>
        <li><img src="images/step8.png" alt="服务跟踪"><b>08</b>
          <p>服务跟踪</p>
        </li>
      </ul>
    </div>
    <div class="home-services clearfix" id="index-whyus">
      <div class="container">
        <div class="slogan-section animated fadeInUp clearfix ae-animation-fadeInUp">
          <h2>五大优势</h2>
          <p>让实力证明我们的能力</p>
        </div>
      </div>

      <section class="pc-banner">
        <div class="swiper-container swiper-container-horizontal">
          <div class="swiper-wrapper" style="transform: translate3d(-4111.25px, 0px, 0px); transition-duration: 0ms;">
            <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" style="width: 632.5px;">
              <a href="/about/" rel="nofollow"><img src="images/top_hero_hakko.jpg"></a>
            </div>
            <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="4"
              style="width: 632.5px;">
              <a href="/about/" rel="nofollow"><img
                  src="images/top_hero_karadacalpis_im02.jpg"></a>
            </div>


            <div class="swiper-slide swiper-slide-duplicate-active" data-swiper-slide-index="0" style="width: 632.5px;">
              <a href="/about/" rel="nofollow"><img src="images/top_hero_conc_2017.jpg"></a>
            </div>
            <div class="swiper-slide swiper-slide-duplicate-next" data-swiper-slide-index="1" style="width: 632.5px;">
              <a href="/about/" rel="nofollow"><img
                  src="images/top_hero_cs_2017.jpg"></a>
            </div>
            <div class="swiper-slide" data-swiper-slide-index="2" style="width: 632.5px;"><a
                href="#" rel="nofollow">
                <img src="images/top_hero_cw_im17.jpg"></a></div>
            <div class="swiper-slide" data-swiper-slide-index="3" style="width: 632.5px;">
              <a href="/about/" rel="nofollow"><img src="images/top_hero_hakko.jpg"></a>
            </div>
            <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="4" style="width: 632.5px;">
              <a href="/about/" rel="nofollow"><img
                  src="images/top_hero_karadacalpis_im02.jpg"></a>
            </div>

            <div class="swiper-slide swiper-slide-duplicate swiper-slide-active" data-swiper-slide-index="0"
              style="width: 632.5px;">
              <a href="/about/" rel="nofollow"><img src="images/top_hero_conc_2017.jpg"></a>
            </div>
            <div class="swiper-slide swiper-slide-duplicate swiper-slide-next" data-swiper-slide-index="1"
              style="width: 632.5px;">
              <a href="#" rel="nofollow"><img
                  src="images/top_hero_cs_2017.jpg"></a>
            </div>
          </div>
        </div>
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span
            class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span
            class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span
            class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
        <div class="button">
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </section>
      <!-- Swiper JS -->
      <script src="static/js/swiper.js"></script>
      <!-- Initialize Swiper -->
      <script>
        window.onload = function () {
          var swiper = new Swiper('.swiper-container', {
            autoplay: 3000,
            speed: 1000,
            autoplayDisableOnInteraction: false,
            loop: true,
            centeredSlides: true,
            slidesPerView: 2,
            pagination: '.swiper-pagination',
            paginationClickable: true,
            prevButton: '.swiper-button-prev',
            nextButton: '.swiper-button-next',
            onInit: function (swiper) {
              swiper.slides[2].className = "swiper-slide swiper-slide-active";//第一次打开不要动画
            },
            breakpoints: {
              668: {
                slidesPerView: 1,
              }
            }
          });
        }
      </script>
      <!--五大优势轮播结束-->

    </div>
    <div class="home-blog blog-var-two clearfix" id="index-blog">
      <div class="container">
        <div class="slogan-section animated fadeInUp clearfix">
          <h2>
            <a href="/article/category/jiatingkongtiao">新闻资讯</a>
          </h2>
          <p class="desc">中央空调行业维修、清洗、保养、安装、改造一手资料讯息平台</p>
        </div>
        <div class="row" style="margin-bottom: 8px;">
        #articles(hasThumbnail=true,count=4)
          #for(article : articles)
          <div class="col-md-3 col-sm-6 col-xs-6 iblog-item">
            <article class="common-blog-post animated fadeInRight clearfix">
              <figure style="border-radius: 10px">
                <a href="#(article.url)" title="#(article.title)">
                  <img src="#(article.thumbnail ?? 'img/default-img.jpg')" alt="#(article.title)"></a>
              </figure>
              <div class="text-content clearfix">
                <h5>
                  <a href="#(article.url)" title="#(article.title)">#(article.title)</a>
                </h5>
                <div class="entry-meta">
                  <time>
                    <i class="fa fa-calendar"></i>#date(article.created)
                  </time>
                </div>
                <div class="for-border"></div>
                <p class="desc">#maxLength(article.text,30)...</p>
              </div>
            </article>
            <a class="read-more" href="#(article.url)">阅读更多</a>
          </div>
          #end
        #end
        </div>
      </div>
    </div>

#end