#include("./layout.html")
#@layout()

#define script()
<script src="/static/components/jquery/jquery.form.min.js"></script>
<script src="/static/commons/page.js"></script>
#end

<!--#define css()-->
<!--<link href="/static/commons/page.css" rel="stylesheet">-->
<!--#end-->

#define content()
      <!-- banner -->
<div class="inner-ban">
  <!--<div style="background-image: url(/templets/default/images/com_banner.jpg);"></div>-->
    <div></div>
</div>



      <!-- 搜索 -->

            <div class="index-search">
        <div class="container">
          <div class="sear-key">热门服务：<a href="http://www.zyktservice.com/qingxifw/">中央空调清洗</a><a href="http://www.zyktservice.com/weixiufw/">中央空调维修</a><a href="http://www.zyktservice.com/weibaofw/">中央空调维保</a><a href="http://www.zyktservice.com/anzhuangfw/">中央空调安装</a><a href="http://www.zyktservice.com/gaizaofw/">中央空调改造</a>
          </div>
          <div class="sear-form">
            <form class="searchform" name="formsearch" action="/plus/search.php" method="post">
              <!-- <input type="text" name="q" value="0">-->
                <input type="text" name="q" placeholder="请输入搜索内容" class="serinp">
                <ul class="se-keys se-ul">
                  <li><b>热门服务：</b></li>
                  <li><a href="http://www.zyktservice.com/qingxifw/">中央空调清洗</a></li>
                  <li><a href="http://www.zyktservice.com/weixiufw/">中央空调维修</a></li>
                  <li><a href="http://www.zyktservice.com/weibaofw/">中央空调维保</a></li>
                  <li><a href="http://www.zyktservice.com/anzhuangfw/">中央空调安装</a></li>
                  <li><a href="http://www.zyktservice.com/gaizaofw/">中央空调改造</a></li>
                </ul>
                <input type="submit" name="submit" value="搜索" class="searbtn">
            </form>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="page_files/searchdown.js"></script>

      

      <div class="container cent-locat">

          <div class="in-location">

          <p>当前位置：
              <a href="#(WEB_DOMAIN ??)">主页</a> &gt;
              <a href="#(page.url ??)">#(page.title ??)</a>
          </p>

        </div>

      </div>
<div id="size-bh" class="container">
    <div class=" col-sm-12 col-xs-12 side-right xinclass">
        <ul>
               <li sid="0001,0002" class="portfolio-item isotope-item  col-xs-6 float-left"><a href="http://www.zyktservice.com/jianjie/"><div style="margin-left: 10px">公司简介</div></a></li>
                <li sid="0001,0003" class="portfolio-item isotope-item col-xs-6 float-left"><a href="http://www.zyktservice.com/lianxi/rongyu/"><div style="margin-left: 10px">荣誉资质</div></a></li>
                  <li sid="0001,0006" class="portfolio-item isotope-item  col-xs-6 float-left"><a href="http://www.zyktservice.com/guanyu/tuandui/"><div style="margin-left: 10px">团队展示</div></a></li>
                <li sid="0001,0004" class="portfolio-item isotope-item  col-xs-6 float-left"><a href="http://www.zyktservice.com/lianxi/pinpai/"><div style="margin-left: 10px" id="cur">品牌起源</div></a></li>
                <li sid="0001,0005" class="portfolio-item isotope-item  col-xs-6 "><a href="http://www.zyktservice.com/lianxi/"><div style="margin-left: 10px">联系我们</div></a></li>

                <div class="clear"></div>
        </ul>
    </div>
</div>
      <!-- inner -->

      <div class="container in-article in-content">

        <div class="row">
            
          <aside class="col-md-3 col-sm-12 side-left">

              #include("_leftbar.html")

          </aside>



          <!-- right -->

          <div class="col-md-9 col-sm-12 col-xs-12 side-right" role="main">

              #(page.content)

              #@defaultPageCommentPage()

          </div>

          <!-- right end -->

        </div>

      </div>

      <!-- footer -->
#end
