#include("./layout.html")
#@layout()

#define script()
<script src="/static/components/jquery/jquery.form.min.js"></script>
<script src="#(CPATH)/static/front/jpressfront.js"></script>
#end

#define css()
<link href="#(CPATH)/static/front/jpressfront.css" rel="stylesheet">
#end


#define content()
      <!-- banner -->
<div class="inner-ban">
    <a href="#">
        <img src="#option('shufuu_category_ad','images/inban_news.jpg')" class="img-fluid" alt="">
        <!--<img src="images/inban_news.jpg" class="img-fluid" alt="">-->
    </a>
</div>



      <!-- 搜索 -->

        <div class="index-search">
            <div class="container">
              <div class="sear-key">热门服务：

                  #tags()
                  #for(tag : tags)
                  <a href="#(tag.url)">#(tag.title)</a>
                  #end
                  #end

              </div>
              <div class="sear-tel">
                  <p>
                      服务热线：
                      <b>17773562773</b>
                  </p>

              </div>
            </div>
        </div>

      

      <div class="container cent-locat">

          <div class="in-location">

          <p>当前位置：
              <a href="#(WEB_DOMAIN ??)">主页</a> &gt;
              <a href="#(page.url ??)">#(page.title ??)</a>
          </p>

        </div>

      </div>
<div id="size-bh" class="container">
    <div class=" col-sm-12 col-xs-12 side-right xinclass">
        <ul>
               <li sid="0001,0002" class="portfolio-item isotope-item  col-xs-6 float-left"><a href="#"><div style="margin-left: 10px">公司简介</div></a></li>
                <li sid="0001,0003" class="portfolio-item isotope-item col-xs-6 float-left"><a href="#"><div style="margin-left: 10px">荣誉资质</div></a></li>
                  <li sid="0001,0006" class="portfolio-item isotope-item  col-xs-6 float-left"><a href="#"><div style="margin-left: 10px">团队展示</div></a></li>
                <li sid="0001,0004" class="portfolio-item isotope-item  col-xs-6 float-left"><a href="#"><div style="margin-left: 10px" id="cur">品牌起源</div></a></li>
                <li sid="0001,0005" class="portfolio-item isotope-item  col-xs-6 "><a href="#"><div style="margin-left: 10px">联系我们</div></a></li>

                <div class="clear"></div>
        </ul>
    </div>
</div>
      <!-- inner -->

      <div class="container in-article in-content">

        <div class="row">
            
          <aside class="col-md-3 col-sm-12 side-left">

              #include("_leftbar.html")

          </aside>



          <!-- right -->

          <div class="col-md-9 col-sm-12 col-xs-12 side-right" role="main">

              #(page.content)

              #@defaultPageCommentPage()

          </div>

          <!-- right end -->

        </div>

      </div>

      <!-- footer -->
#end
