#include("./layout.html")
#@layout()


#define content()
      <!-- banner -->
      <div class="inner-ban">
        <div></div>
      </div>
      <!-- 搜索 -->
      <div class="index-search">
        <div class="container">
          <div class="sear-key">热门服务：<a href="http://www.zyktservice.com/qingxifw/">中央空调清洗</a><a href="http://www.zyktservice.com/weixiufw/">中央空调维修</a><a href="http://www.zyktservice.com/weibaofw/">中央空调维保</a><a href="http://www.zyktservice.com/anzhuangfw/">中央空调安装</a><a href="http://www.zyktservice.com/gaizaofw/">中央空调改造</a>
          </div>
          <div class="sear-form">
            <form class="searchform" name="formsearch" action="/plus/search.php" method="post">
              <input type="text" name="q" placeholder="请输入搜索内容">
              <input type="submit" name="submit" class="searbtn">
            </form>
          </div>
        </div>
      </div>
      
      <!-- 当前位置 -->
      <div class="container">
        <div class="in-location">
          <p>当前位置：<a href="http://www.zyktservice.com/">主页</a> &gt; <a href="http://www.zyktservice.com/yewu/">业务范围</a> &gt; </p>
        </div>
      </div>
      <!-- 九宫格 -->
        <div class="container inner-cases">
          <div class="row">
            <div class="col-md-4 col-xs-6 case-img">
              <div class="casebor">
                <a href="http://www.zyktservice.com/13569.html" class="thumb">
                  <img src="images/1-5.jpg" alt="北京市金融大街xx大厦-机组拆开清洗">
                  <div class="desc">项目名称： 北京市金融大街xx大厦-机组拆开清洗 建造日期：2021年04月16日 竣工日期：2021年04月16日 施工人员：孙广凡，刘晓云 项目地址：北京市西城区金...</div>
                </a>
                <a href="http://www.zyktservice.com/13569.html" class="title">北京市金融大街xx大厦-机组拆开清洗</a>
                <p class="clearfix">
                  <em>55</em>
                  <a href="http://www.zyktservice.com/13569.html" class="link">详情...</a>
                </p>
              </div>
            </div><div class="col-md-4 col-xs-6 case-img">
            <div class="casebor">
              <a href="http://www.zyktservice.com/13467.html" class="thumb">
                <img src="images/1-6.jpg" alt="北京室朝阳区xx店铺-空调维修工程">
                <div class="desc">项目名称：北京室朝阳区xx店-空调清洗工程 建造日期：2021年04月07日 竣工日期：2021年04月08日 施工人员：刘晓云 项目地址：北京市朝阳区XXXXX(应客户要求...</div>
              </a>
              <a href="http://www.zyktservice.com/13467.html" class="title">北京室朝阳区xx店铺-空调维修工程</a>
              <p class="clearfix">
                <em>196</em>
                <a href="http://www.zyktservice.com/13467.html" class="link">详情...</a>
              </p>
            </div>
          </div><div class="col-md-4 col-xs-6 case-img">
            <div class="casebor">
              <a href="http://www.zyktservice.com/13477.html" class="thumb">
                <img src="images/1-7.jpg" alt="北京市朝阳区常通路xx商铺-空调安装改造清洗工">
                <div class="desc">项目名称：北京市朝阳区常通路xx商铺-空调安装改造清洗工程 建造日期：2021年03月26日 竣工日期：2021年04月10日 施工人员：于海川、王永朝、宋江伟 项目...</div>
              </a>
              <a href="http://www.zyktservice.com/13477.html" class="title">北京市朝阳区常通路xx商铺-空调安装改造清洗工</a>
              <p class="clearfix">
                <em>150</em>
                <a href="http://www.zyktservice.com/13477.html" class="link">详情...</a>
              </p>
            </div>
          </div><div class="col-md-4 col-xs-6 case-img">
            <div class="casebor">
              <a href="http://www.zyktservice.com/13336.html" class="thumb">
                <img src="images/1-8.jpg" alt="某服饰批发市场地下商铺海信中央空调">
                <div class="desc">项目名称：某服饰批发市场地下商铺海信中央空调安装工程项目时间：2020项目类型：海信中央空调安装工程项目服务商：京乐（机电）制冷设备有限公司项...</div>
              </a>
              <a href="http://www.zyktservice.com/13336.html" class="title">某服饰批发市场地下商铺海信中央空调</a>
              <p class="clearfix">
                <em>1926</em>
                <a href="http://www.zyktservice.com/13336.html" class="link">详情...</a>
              </p>
            </div>
          </div><div class="col-md-4 col-xs-6 case-img">
            <div class="casebor">
              <a href="http://www.zyktservice.com/13340.html" class="thumb">
                <img src="images/1-9.jpg" alt="斯凯奇中央空调改造工程">
                <div class="desc">项目名称：中央空调改造工程项目时间：2019项目面积：500平方米项目说明：斯凯奇是美国第一时尚休闲鞋品牌，1992年在美国南加州正式成立。SKECHERS每年...</div>
              </a>
              <a href="http://www.zyktservice.com/13340.html" class="title">斯凯奇中央空调改造工程</a>
              <p class="clearfix">
                <em>1137</em>
                <a href="http://www.zyktservice.com/13340.html" class="link">详情...</a>
              </p>
            </div>
          </div><div class="col-md-4 col-xs-6 case-img">
            <div class="casebor">
              <a href="http://www.zyktservice.com/13341.html" class="thumb">
                <img src="images/1-10.jpg" alt="某运动品牌店铺中央空调改造工程">
                <div class="desc">项目名称：中央空调改造工程项目时间：2019项目面积：350㎡项目地址：苏州市吴中区天鹅荡路1-1号
                  项目说明：京乐企服为阿迪达斯上海店、杭州店、苏州...</div>
              </a>
              <a href="http://www.zyktservice.com/13341.html" class="title">某运动品牌店铺中央空调改造工程</a>
              <p class="clearfix">
                <em>607</em>
                <a href="http://www.zyktservice.com/13341.html" class="link">详情...</a>
              </p>
            </div>
          </div><div class="col-md-4 col-xs-6 case-img">
            <div class="casebor">
              <a href="http://www.zyktservice.com/13342.html" class="thumb">
                <img src="images/1-210329163049619.jpg" alt="某运动品牌零售店中央空调系统工程">
                <div class="desc">项目名称：某运动品牌零售店中央空调系统工程项目时间：2019项目地点：上海、杭州、北京、常州项目说明：在全国均有零售店，其门店装修均采用了京乐...</div>
              </a>
              <a href="http://www.zyktservice.com/13342.html" class="title">某运动品牌零售店中央空调系统工程</a>
              <p class="clearfix">
                <em>1145</em>
                <a href="http://www.zyktservice.com/13342.html" class="link">详情...</a>
              </p>
            </div>
          </div><div class="col-md-4 col-xs-6 case-img">
            <div class="casebor">
              <a href="http://www.zyktservice.com/13344.html" class="thumb">
                <img src="images/1-210329162605T6.jpg" alt="北京斯凯奇商场中央空调安装工程">
                <div class="desc">项目名称：北京斯凯奇商场中央空调安装工程项目时间：2018项目地址：北京市朝阳区北苑北苑路甲项目面积：150平方米...</div>
              </a>
              <a href="http://www.zyktservice.com/13344.html" class="title">北京斯凯奇商场中央空调安装工程</a>
              <p class="clearfix">
                <em>781</em>
                <a href="http://www.zyktservice.com/13344.html" class="link">详情...</a>
              </p>
            </div>
          </div><div class="col-md-4 col-xs-6 case-img">
            <div class="casebor">
              <a href="http://www.zyktservice.com/13346.html" class="thumb">
                <img src="images/1-21032916210B14.jpg" alt="某烤肉店美的中央空调安装工程">
                <div class="desc">项目名称：日式烧肉店美的中央空调安装工程项目时间：2019项目面积：210平项目地址：北京市海淀区长春桥路5号新起点嘉园5号楼...</div>
              </a>
              <a href="http://www.zyktservice.com/13346.html" class="title">某烤肉店美的中央空调安装工程</a>
              <p class="clearfix">
                <em>848</em>
                <a href="http://www.zyktservice.com/13346.html" class="link">详情...</a>
              </p>
            </div>
          </div>


          </div>
          <!-- pages -->
          <div class="pageturn">
            <ul class="pagelist clearfix">
              <li>首页</li>
              <li class="thisclass">1</li>
              <li><a href="http://www.zyktservice.com/gongcheng/chaoshi/list_267_2.html">2</a></li>
              <li><a href="http://www.zyktservice.com/gongcheng/chaoshi/list_267_3.html">3</a></li>
              <li><a href="http://www.zyktservice.com/gongcheng/chaoshi/list_267_4.html">4</a></li>
              <li><a href="http://www.zyktservice.com/gongcheng/chaoshi/list_267_2.html">下一页</a></li>
              <li><a href="http://www.zyktservice.com/gongcheng/chaoshi/list_267_4.html">末页</a></li>
              <li><select name="sldd" style="width:36px" onchange="location.href=this.options[this.selectedIndex].value;">
                <option value="list_267_1.html" selected="selected">1</option>
                <option value="list_267_2.html">2</option>
                <option value="list_267_3.html">3</option>
                <option value="list_267_4.html">4</option>
              </select></li>
              <li><span class="pageinfo">共 <strong>4</strong>页<strong>30</strong>条</span></li>
            </ul>
          </div>
          <!--  -->
        </div>
      <!-- 9宫格结束 -->
<style>
.inner-cases .casebor6{
	transition: 0.3s;
	overflow: hidden;
    height: 280px;
}
.casebor6 .p{
	font-size: 16px;;
}
.casebor6 .thumb6{
	display: block;
	height: 280px;
	overflow: hidden;
	position: relative;
}
.casebor6 .thumb6 img{
	display: block;
	width: 100%;
	min-height: 100%;
	transition: all 1.2s linear 0s;
}
.casebor6 .thumb6 img:hover{
     transform: scale(1.4);
}
.desc6{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,108,177,0.7);
	color: #fff;
	text-align: justify;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	align-items: center;
	padding: 0 20px;
	box-sizing: border-box;
	opacity: 0;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.casebor6 .title{
	display: block;
	padding: 0 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 10px 0;
	font-size: 16px;
}
.casebor6 p{
	padding: 0 10px;
	margin-bottom: 10px;
}
.casebor6 p em{
	display: inline-block;
	background: url(images/icon_view.png) no-repeat left center;
	padding-left: 20px;
	color: #999;
	font-style: normal;
}
.casebor6 p a{
	display: inline-block;
	float: right;
	padding: 0 10px;
	border-radius: 50px;
	line-height: 24px;
	background-color: #ccc;
	color: #fff;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.casebor6:hover .desc{
	opacity: 1;
}
.casebor6:hover a.link{
	background-color: #0193de;
}
.casebor6:hover{
	border-color: #0193de;
}
.casebor6:hover a.title{
	color: #0193de;
}
</style>

#end