#define defaultExampleHeader()
<div class="row">
    <div class="col-md-6">
        #if(exampleImages)
        <div class="product-swipper swiper-container gallery-top">
            <div class="swiper-wrapper">
                #for(img : exampleImages)
                <img class="swiper-slide" src="#(img.src ??)">
                #end
            </div>
        </div>
        <div class="product-swipper-item swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
                #for(img : exampleImages)
                <img class="swiper-slide" src="#(img.src ??)">
                #end
            </div>
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>
        #else
        <div class="product-swipper">
            <img style="width: 100%;height: 100%" src="#(example.showImage ??)">
        </div>
        #end
    </div>
    <div class="col-md-6">
        <h2 class="product-title">#(example.title)</h2>

        <div class="product-usp">
            #(example.usp ??)
        </div>

        #if(example.specs)
        <div class="product-specs">
            <ul>
                #stringSplit(example.specs)
                #for(str : strs)
                <li >#(str)</li>
                #end
                #end
            </ul>
        </div>
        #end


        <div class="product-info">
            <div>
                <span><strong>#(example.comment_count ?? 0)</strong></span>
                <span>累计评价</span>
            </div>
        </div>


        <p class="product-btn-star">

            <a href="javascript:;" onclick="addExampleToFavorite('#(example.id ??)')"><i class="fa fa-heart-o"></i> 添加收藏</a>
            <a href="javascript:;" class="copy"
                    data-clipboard-action="copy"
                    data-clipboard-text="我觉得这个产品不错，分享给你...   #(exampleShareUrl ??)"><i class="fa fa-fw fa-share-square-o"></i>分享链接</a>

        </p>

        <div class="product-tag">
            #exampleCategories(example.id,'category')
            <p>
                分类：
                #for(cat : categories)
                <a href="#(cat.url ??)">#(cat.title ??)</a>
                #end
            </p>
            #end

            #exampleCategories(example.id,'tag')
            <p>
                标签：
                #for(cat : categories)
                <a href="#(cat.url ??)">#(cat.title ??)</a>
                #end
            </p>
            #end
        </div>
    </div>
</div>
#end


